@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">⚽LigaPro2024⚽</h1>
    <img src="https://peloteros.com.ec/sitioweb/wp-content/uploads/2023/03/LigaPro-escudo-1024x576.jpeg" style="width: 500px; height: 300px;
</div>
